<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css">


	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">

						<li class="nav-item">
							<a class="navtitle" href="{{path('home')}}">ACCUEIL</a>
						</li>


						{# LISTE DEROULANTE CRUD#}
						{% if is_granted ('ROLE_ADMIN') %}
							<li class="nav-item">
								<div class="dropdown">
									<span class="navtitle">REGLAGES</span>
									<div class="dropdown-content">
										<a class="subCategory" href="{{path('app_user_index')}}">UTILISATEURS</a>
									</div>
								</div>
							</li>
							{# {% else %} #}

						{% endif %}

						{# CONNEXION DECONNEXION CREER SON COMPTE #}
						{% if is_granted ('ROLE_USER') %}
							<li class="nav-item">
								<div class="dropdown">
									<span class="navtitle" href="{{path('app_user_index')}}">{{app.user.firstname}}</span>
									<div class="dropdown-content">
										<a class="subCategory" href="{{path('utilisateur', {id:app.user.id})}}">PROFIL</a>
										<a class="subCategory" href="{{path('app_logout')}}">DECONNEXION</a>
									</div>
								</div>
							</li>

						{% else %}
							<a class="navtitle" href="{{path('app_login')}}">COMPTE</a>
						{% endif %}


						<li class="nav-item">
							<a class="navtitle" href="{{path('contact')}}">CONTACT</a>
						</li>


					</ul>
				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}


		<!--===== FOOTER =====-->
		<article>
			<footer>
				<p class="navtitle">&#169; Espoir & Camille</p>
			</footer>
		</article>

	</body>
</html>
	