{% extends 'base.html.twig' %}

{% block title %}Index Utilisateur
{% endblock %}

{% block body %}
	<h1>Index utilisateurs</h1>

	{# BARRE DE RECHERCHE #}
	{# <form class="d-flex"> #}
	<form
		method="get" action="{{ path('app_user_index') }}">
		{# <input class="form-control me-sm-2" type="text" placeholder="Search">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> #}

		<div class="input-group mb-3">
			<input type="text" name="q" class="form-control me-sm-2" placeholder="Rechercher un utilisateur" aria-label="Rechercher un utilisateur" aria-describedby="button-addon2" value="{{ app.request.get('q') }}">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit" id="button-addon2">Rechercher</button>
		</div>
	</form>


	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th class="text-center">Email</th>
				<th class="text-center">Roles</th>
				{# <th class="text-center">Mot de passe</th> #}
				<th class="text-center">Prénom</th>
				<th class="text-center">Nom</th>
				<th class="text-center">actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td class="text-center">{{ user.email }}</td>
					<td class="text-center">{{ user.roles ? user.roles|json_encode : '' }}</td>
					{# <td class="text-center">{{ user.password }}</td> #}
					<td class="text-center">{{ user.firstname }}</td>
					<td class="text-center">{{ user.lastname }}</td>

					<td>
						<a class="text-center, buy-now" href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
					</td>
					<td>
						<a class="text-center, buy-now" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
					</td>
						<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
							<td>
								<button class="suppression-button"><a class="text-center, buy-now" >Supprimer</a></button>
							</td>
						</form>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">aucun résultat</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="text-center, buy-now" href="{{ path('app_user_new') }}">Créer un nouveau utilisateur</a>
</br></br></br></br>{% endblock %}
